*.la
*.lo
*.o
.libs/
INSTALL
config.h.in
conf/01-fred-mod-corba-apache.conf
config.h
ar-lib
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
lib/
doc/html/
doxy.conf
.ninja_deps
.ninja_log
build.ninja
rules.ninja
